main.main
	.container
		.section-news-detail
			.section-news-detail__date 04.06.2024
			h1.h1 Что делать, если образовался долг за отопление?
			.section-news-detail__inner
				.section-news-detail__left
					.section-news-detail__img
						img(src="./img/news-detail.jpg" alt="")
					.section-news-detail__text 
						.section-news-detail__preview 
							p Муниципальное предприятие «Калининградтеплосеть» вместе с Вами завершает отопительный сезон и выражает искреннюю благодарность всем, кто вместе с нами ожидал прихода по-настоящему летнего тепла.
						.section-news-detail__detail.text-page
							p В то же время некоторые жители нашего города по различным причинам не смогли вовремя и в полном объеме оплачивать услуги по теплоснабжению и теперь имеют задолженность перед Предприятием.С целью избавить Вас от неприятных судебных разбирательств нами подготовлены досудебные претензии, которые в течении июня получат те, кто имеет долги по теплоснабжению.
							p Если Вы получили такую претензию, просим Вас оплатить указанную в ней сумму, с целью предупреждения различных неприятных последствий, связанных с взысканием долга за коммунальные услуги по судебному решению, таких как арест имущества, запрет выезда за границу, дополнительных расходов, связанных с уплатой пени и судебных издержек.Кроме того, в случае добровольной оплаты задолженности в течении месяца после получения претензий Предприятием не будет начисляться пеня!
							p В случае неуплаты указанной в претензии суммы предприятие «Калининградтеплосеть» будет вынуждено обратиться в суд и провести все предусмотренные законом мероприятия по принудительному взысканию долга.Если у Вас есть вопросы относительно задолженности или вы столкнулись с трудностями при ее оплате, Вы всегда можете обратиться к нам по адресу: г. Калининград, ул. Нарвская, 58, задать вопрос на нашем сайте по адресу: <a href="">https://www.kts39.ru/</a> в разделе «Задать вопрос», написать нам на электронную почту <a href="">info@kts39.ru</a> или позвонить по телефонам: 667-021, 667-160, 667-161. Специалисты отдела по работе с дебиторской задолженностью дадут Вам подробные разъяснения по всем вопросам.
							p Если Вы по какой-то причине не имеете возможности погасить всю указанную в квитанции задолженность единовременно, можно обратиться за рассрочкой в отдел по работе с дебиторской задолженностью Предприятия или позвонить по телефону: 667-069. Вместе мы сможем найти оптимальное решение!
				.section-news-detail__right
					.section-news
						h2.h2 Новости
						.section-news__items
							.section-news__item
								a.section-news__img(href="")
									img(src="./img/news1.jpg" alt="")
								.section-news__date 16.02.2023
								a.section-news__name(href="") Принято решение о начале проектирования новых тепловых станций в микрорайонах Чкаловск и Прибрежный
							.section-news__item
								a.section-news__img(href="")
									img(src="./img/news2.jpg" alt="")
								.section-news__date 16.02.2023
								a.section-news__name(href="") Задолженность калининградцев за отопление уменьшилась еще на 10 миллионов рублей
							.section-news__item
								a.section-news__img(href="")
									img(src="./img/news3.jpg" alt="")
								.section-news__date 16.02.2023
								a.section-news__name(href="") «При нападении противника на территорию расположения котельной — котельные во всех случаях работу не прекращают»...
							.section-news__item
								a.section-news__img(href="")
									img(src="./img/news4.jpg" alt="")
								.section-news__date 16.02.2023
								a.section-news__name(href="") В 2023 году МП «Калининградтеплосеть» закроет три угольные котельные
						.section-news__buttons 
							a.button.button-bordered(href="") Все новости
								<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22.5 2)" fill="#0E40B4" /><path d="M9.5 15L15.5 9M15.5 9H11M15.5 9V13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" /></svg>