@font-face {
  font-family: 'TT Hoves Pro Medium';
  src: url('../fonts/TTHovesPro/eot/TT_Hoves_Pro_Medium.eot');
  src: url('../fonts/TTHovesPro/eot/TT_Hoves_Pro_Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTHovesPro/woff/TT_Hoves_Pro_Medium.woff') format('woff'),
    url('../fonts/TTHovesPro/ttf/TT_Hoves_Pro_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}