// $fa-font-path: "../webfonts";
// $font: 'Montserrat', sans-serif;
$font-family: 'TT Hoves Pro Medium', sans-serif;
$second-family: 'TT Hoves Pro Medium', sans-serif;
// $third-family: 'Bad Script', cursive;

$color-text-dark: #090909;
$color-text-light: #ffffff;
// $color-primary: #0e40b4;
$color-accent: #f1b195;

// $color-second: #2383f7;
// $color-link: #2c2b3c;

// $primary-color: #f8bbd0 !default;
// $accent-color

// $color-border: #eff0f1;

// $color-input-border: #e4e6e9;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
